<h2>Crear usuario</h2>
<form action="/api/user/create" method="post">
<label for="nombre">nombre</label>
<input type="text" id="nombre" name="nombre">
<br>
<label for="apellido">apellido</label>
<input type="text" id="apellido" name="apellido">
<br>
<label for="email">email</label>
<input type="text" id="email" name="email">
<br>
<label for="edad">edad</label>
<input type="text" id="edad" name="edad">
<br>
<label for="carrera">carrera</label>
<input type="text" id="carrera" name="carrera">
<br>
<label for="password">password</label>
<input type="password" id="password" name="password">
<br>
<button type="submit"> ENVIAR </button>
</form>